In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')

In [3]:
df.head(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [5]:
df.shape

(1000, 11)

In [6]:
df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [7]:
df.rename(columns={
    'Runtime (Minutes)': 'Runtime',
    'Revenue (Millions)': 'Revenue'
}, inplace = True)

In [8]:
for i in df.columns:
    df.columns = df.columns.str.lower()

In [9]:
df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

In [10]:
df.isnull()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum() # puri row urane wala kam minimum values k lye krte hn

rank             0
genre            0
description      0
director         0
actors           0
year             0
runtime          0
rating           0
votes            0
revenue        128
metascore       64
dtype: int64

In [12]:
df.dropna() # foul practice

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [13]:
df.dropna(axis = 1) # for columns dropping

,rank,genre,description,director,actors,year,runtime,rating,votes
Title,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727
...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435

In [14]:
re = df['revenue']

In [15]:
re.dtype

dtype('float64')

In [16]:
m = re.mean()

In [17]:
re.fillna(m , inplace = True)

In [18]:
re.isnull().sum()

0

In [19]:
df.describe() # dataset ka description

,rank,year,runtime,rating,votes,revenue,metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,96.412043,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [20]:
df['genre'].describe()

count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object

In [21]:
df['genre'].value_counts()

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
                           ..
Action,Fantasy,Thriller     1
Action,Fantasy,War          1
Drama,Musical,Romance       1
Comedy,Fantasy,Romance      1
Action,Biography,Crime      1
Name: genre, Length: 207, dtype: int64

In [22]:
df['genre'].value_counts(10)

Action,Adventure,Sci-Fi    0.050
Drama                      0.048
Comedy,Drama,Romance       0.035
Comedy                     0.032
Drama,Romance              0.031
                           ...
Action,Fantasy,Thriller    0.001
Action,Fantasy,War         0.001
Drama,Musical,Romance      0.001
Comedy,Fantasy,Romance     0.001
Action,Biography,Crime     0.001
Name: genre, Length: 207, dtype: float64

In [23]:
df.corr()

,rank,year,runtime,rating,votes,revenue,metascore
rank,1.000000,-0.261605,-0.221739,-0.219555,-0.283876,-0.252996,-0.191869
year,-0.261605,1.000000,-0.164900,-0.211219,-0.411904,-0.117562,-0.079305
runtime,-0.221739,-0.164900,1.000000,0.392214,0.407062,0.247834,0.211978
rating,-0.219555,-0.211219,0.392214,1.000000,0.511537,0.189527,0.631897
votes,-0.283876,-0.411904,0.407062,0.511537,1.000000,0.607941,0.325684
revenue,-0.252996,-0.117562,0.247834,0.189527,0.607941,1.000000,0.133328
metascore,-0.191869,-0.079305,0.211978,0.631897,0.325684,0.133328,1.000000

In [24]:
new_df = df[['genre', 'rating']]

In [25]:
new_df.head()

                                            genre  rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2

In [26]:
df.loc["Split"] # name index

rank                                                           3
genre                                            Horror,Thriller
description    Three girls are kidnapped by a man with a diag...
director                                      M. Night Shyamalan
actors         James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
year                                                        2016
runtime                                                      117
rating                                                       7.3
votes                                                     157606
revenue                                                   138.12
metascore                                                     62
Name: Split, dtype: object

In [28]:
df.iloc[3] # index location

rank                                                           4
genre                                    Animation,Comedy,Family
description    In a city of humanoid animals, a hustling thea...
director                                    Christophe Lourdelet
actors         Matthew McConaughey,Reese Witherspoon, Seth Ma...
year                                                        2016
runtime                                                      108
rating                                                       7.2
votes                                                      60545
revenue                                                   270.32
metascore                                                     59
Name: Sing, dtype: object

In [30]:
df.loc['Split' : 'The Great Wall']

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0

In [31]:
c = df['director'] == 'Ridley Scott'
print(c)

Title
Guardians of the Galaxy    False
Prometheus                  True
Split                      False
Sing                       False
Suicide Squad              False
                           ...
Secret in Their Eyes       False
Hostel: Part II            False
Step Up 2: The Streets     False
Search Party               False
Nine Lives                 False
Name: director, Length: 1000, dtype: bool

In [32]:
c = df['genre'] == 'Action,Adventure,Sci-Fi'
print(c.head())

Title
Guardians of the Galaxy     True
Prometheus                 False
Split                      False
Sing                       False
Suicide Squad              False
Name: genre, dtype: bool

In [33]:
df[df['genre'] == 'Action,Adventure,Sci-Fi']

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Rogue One,13,"Action,Adventure,Sci-Fi",The Rebel Alliance makes a risky move to steal...,Gareth Edwards,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",2016,133,7.9,323118,532.17,65.0
Independence Day: Resurgence,25,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
X-Men: Apocalypse,33,"Action,Adventure,Sci-Fi",After the re-emergence of the world's first mu...,Bryan Singer,"James McAvoy, Michael Fassbender, Jennifer Law...",2016,144,7.1,275510,155.33,52.0
Captain America: Civil War,36,"Action,Adventure,Sci-Fi",Political interference in the Avengers' activi...,Anthony Russo,"Chris Evans, Robert Downey Jr.,Scarlett Johans...",2016,147,7.9,411656,408.08,75.0
Star Trek Beyond,49,"Action,Adventure,Sci-Fi",The USS Enterprise crew explores the furthest ...,Justin Lin,"Chris Pine, Zachary Quinto, Karl Urban, Zoe Sa...",2016,122,7.1,164567,158.80,68.0
Batman v Superman: Dawn of Justice,61,"Action,Adventure,Sci-Fi",Fearing that the actions of Superman are left ...,Zack Snyder,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",2016,151,6.7,472307,330.25,44.0
Mad Max: Fury Road,68,"Action,Adventure,Sci-Fi",A woman rebels against a tyrannical ruler in p...,George Miller,"Tom Hardy, Charlize Theron, Nicholas Hoult, Zo...",2015,120,8.1,632842,153.63,90.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
Jurassic World,86,"Action,Adventure,Sci-Fi","A new theme park, built on the original site o...",Colin Trevorrow,"Chris Pratt, Bryce Dallas Howard, Ty Simpkins,...",2015,124,7.0,455169,652.18,59.0
Avengers: Age of Ultron,95,"Action,Adventure,Sci-Fi",When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",2015,141,7.4,516895,458.99,66.0
Transformers: Age of Extinction,127,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
Star Trek,141,"Action,Adventure,Sci-Fi",The brash James T. Kirk tries to live up to hi...,J.J. Abrams,"Chris Pine, Zachary Quinto, Simon Pegg, Leonar...",2009,127,8.0,526324,257.70,82.0
Pacific Rim,157,"Action,Adventure,Sci-Fi",As a war between humankind and monstrous sea c...,Guillermo del Toro,"Idris Elba, Charlie Hunnam, Rinko Kikuchi,Char...",2013,131,7.0,400519,101.79,64.0
X-Men: Days of Future Past,163,"Action,Adventure,Sci-Fi",The X-Men send Wolverine to the past in a desp...,Bryan Singer,"Patrick Stewart, Ian McKellen, Hugh Jackman, J...",2014,132,8.0,552298,233.91,74.0
Captain America: The First Avenger,196,"Action,Adventure,Sci-Fi","Steve Rogers, a rejected military soldier tran...",Joe Johnston,"Chris Evans, Hugo Weaving, Samuel L. Jackson,H...",2011,124,6.9,547368,176.64,66.0
Edge of Tomorrow,201,"Action,Adventure,Sci-Fi",A soldier fighting aliens gets to relive the s...,Doug Liman,"Tom Cruise, Emily Blunt, Bill Paxton, Brendan ...",2014,113,7.9,471815,100.19,71.0
Iron Man,204,"Action,Adventure,Sci-Fi","After being held captive in an Afghan cave, bi...",Jon Favreau,"Robert Downey Jr., Gwyneth Paltrow, Terrence H...",2008,126,7.9,737719,318.30,79.0
X: First Class,206,"Action,Adventure,Sci-Fi","In 1962, the United States government enlists ...",Matthew Vaughn,"James McAvoy, Michael Fassbender, Jennifer Law...",2011,132,7.8,550011,146.41,65.0
Transformers,213,"Action,Adventure,Sci-Fi",An ancient struggle between two Cybertronian r...,Michael Bay,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",2007,144,7.1,531112,318.76,61.0
Captain America: The Winter Soldier,217,"Action,Adventure,Sci-Fi",As Steve Rogers struggles to embrace his role ...,Anthony Russo,"Chris Evans, Samuel L. Jackson,Scarlett Johans...",2014,136,7.8,542362,259.75,70.0
Hardcore Henry,221,"Action,Adventure,Sci-Fi",Henry is resurrected from death with no memory...,Ilya Naishuller,"Sharlto Copley, Tim Roth, Haley Bennett, Danil...",2015,96,6.7,61098,9.24,51.0
Predators,228,"Action,Adventure,Sci-Fi",A group of elite warriors parachute into an un...,Nimród Antal,"Adrien Brody, Laurence Fishburne, Topher Grace...",2010,107,6.4,179450,52.00,51.0
Terminator Genisys,244,"Action,Adventure,Sci-Fi","When John Connor, leader of the human resistan...",Alan Taylor,"Arnold Schwarzenegger, Jason Clarke, Emilia Cl...",2015,126,6.5,205365,89.73,38.0
The Amazing Spider-Man 2,254,"Action,Adventure,Sci-Fi","When New York is put under siege by Oscorp, it...",Marc Webb,"Andrew Garfield, Emma Stone, Jamie Foxx, Paul ...",2014,142,6.7,342183,202.85,53.0
Battleship,257,"Action,Adventure,Sci-Fi",A fleet of ships is forced to do battle with a...,Peter Berg,"Alexander Skarsgård, Brooklyn Decker, Liam Nee...",2012,131,5.8,210349,65.17,41.0
X-Men Origins: Wolverine,269,"Action,Adventure,Sci-Fi","A look at Wolverine's early life, in particula...",Gavin Hood,"Hugh Jackman, Liev Schreiber, Ryan Reynolds, D...",2009,107,6.7,388447,179.88,40.0
Iron Man Three,280,"Action,Adventure,Sci-Fi",When Tony Stark's world is torn apart by a for...,Shane Black,"Robert Downey Jr., Guy Pearce, Gwyneth Paltrow...",2013,130,7.2,591023,408.99,62.0
Jupiter Ascending,288,"Action,Adventure,Sci-Fi",A young woman discovers her destiny as an heir...,Lana Wachowski,"Channing Tatum, Mila Kunis,Eddie Redmayne, Sea...",2015,127,5.3,150121,47.38,40.0
The 5th Wave,317,"Action,Adventure,Sci-Fi",Four waves of increasingly deadly alien attack...,J Blakeson,"Chloë Grace Moretz, Matthew Zuk, Gabriela Lope...",2016,112,5.2,73093,34.91,33.0
Star Trek Into Darkness,363,"Action,Adventure,Sci-Fi",After the crew of the Enterprise find an unsto...,J.J. Abrams,"Chris Pine, Zachary Quinto, Zoe Saldana, Bened...",2013,132,7.8,417663,228.76,72.0
The Wolverine,389,"Action,Adventure,Sci-Fi",When Wolverine is summoned to Japan by an old ...,James Mangold,"Hugh Jackman, Will Yun Lee, Tao Okamoto, Rila ...",2013,126,6.7,355362,132.55,60.0
John Carter,390,"Action,Adventure,Sci-Fi","Transported to Barsoom, a Civil War vet discov...",Andrew Stanton,"Taylor Kitsch, Lynn Collins, Willem Dafoe,Sama...",2012,132,6.6,220667,73.06,51.0
The Incredible Hulk,397,"Action,Adventure,Sci-Fi","Bruce Banner, a scientist on the run from the ...",Louis Leterrier,"Edward Norton, Liv Tyler, Tim Roth, William Hurt",2008,112,6.8,342355,134.52,61.0
The Hunger Games: Mockingjay - Part 2,409,"Action,Adventure,Sci-Fi",As the war of Panem escalates to the destructi...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2015,137,6.6,202380,281.67,65.0
Iron Man 2,451,"Action,Adventure,Sci-Fi",With the world now aware of his identity as Ir...,Jon Favreau,"Robert Downey Jr., Mickey Rourke, Gwyneth Palt...",2010,124,7.0,556666,312.06,57.0
I Am Number Four,455,"Action,Adventure,Sci-Fi",Aliens and their Guardians are hiding on Earth...,D.J. Caruso,"Alex Pettyfer, Timothy Olyphant, Dianna Agron,...",2011,109,6.1,202682,55.09,36.0
2012,473,"Action,Adventure,Sci-Fi",A frustrated writer struggles to keep his fami...,Roland Emmerich,"John Cusack, Thandie Newton, Chiwetel Ejiofor,...",2009,158,5.8,297984,166.11,49.0
Godzilla,529,"Action,Adventure,Sci-Fi",The world is beset by the appearance of monstr...,Gareth Edwards,"Aaron Taylor-Johnson, Elizabeth Olsen, Bryan C...",2014,123,6.4,318058,200.66,62.0
Fantastic Four,553,"Action,Adventure,Sci-Fi",Four young outsiders teleport to an alternate ...,Josh Trank,"Miles Teller, Kate Mara, Michael B. Jordan, Ja...",2015,100,4.3,121847,56.11,27.0
Transformers: Dark of the Moon,567,"Action,Adventure,Sci-Fi",The Autobots learn of a Cybertronian spacecraf...,Michael Bay,"Shia LaBeouf, Rosie Huntington-Whiteley, Tyres...",2011,154,6.3,338369,352.36,42.0
Tron,578,"Action,Adventure,Sci-Fi",The son of a virtual world designer goes looki...,Joseph Kosinski,"Jeff Bridges, Garrett Hedlund, Olivia Wilde, B...",2010,125,6.8,273959,172.05,49.0
Green Lantern,674,"Action,Adventure,Sci-Fi",Reckless test pilot Hal Jordan is granted an a...,Martin Campbell,"Ryan Reynolds, Blake Lively, Peter Sarsgaard,M...",2011,114,5.6,231907,116.59,39.0
The Hunger Games: Mockingjay - Part 1,681,"Action,Adventure,Sci-Fi",Katniss Everdeen is in District 13 after she s...,Francis Lawrence,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2014,123,6.7,331902,337.10,64.0
Jumper,688,"Action,Adventure,Sci-Fi",A teenager with teleportation abilities sudden...,Doug Liman,"Hayden Christensen, Samuel L. Jackson, Jamie B...",2008,88,6.1,252503,80.17,35.0
Transformers: Revenge of the Fallen,711,"Action,Adventure,Sci-Fi",Sam Witwicky leaves the Autobots behind for a ...,Michael Bay,"Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese ...",2009,150,6.0,335757,402.08,35.0
G.I. Joe: The Rise of Cobra,823,"Action,Adventure,Sci-Fi",An elite military unit comprised of special op...,Stephen Sommers,"Dennis Quaid, Channing Tatum, Marlon Wayans,Ad...",2009,118,5.8,180105,150.17,32.0
G.I. Joe: Retaliation,879,"Action,Adventure,Sci-Fi",The G.I. Joes are not only fighting their mort...,Jon M. Chu,"Dwayne Johnson, Channing Tatum, Adrianne Palic...",2013,110,5.8,152145,122.51,41.0
Superman Returns,925,"Action,Adventure,Sci-Fi","Superman reappears after a long absence, but i...",Bryan Singer,"Brandon Routh, Kevin Spacey, Kate Bosworth, Ja...",2006,154,6.1,246797,200.07,72.0
After Earth,949,"Action,Adventure,Sci-Fi",A crash landing leaves Kitai Raige and his fat...,M. Night Shyamalan,"Jaden Smith, David Denman, Will Smith,Sophie O...",2013,100,4.9,166512,60.52,33.0

In [34]:
df[df['director'] == 'James Gunn']

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Slither,909,"Comedy,Horror,Sci-Fi","A small town is taken over by an alien plague,...",James Gunn,"Nathan Fillion, Elizabeth Banks, Michael Rooke...",2006,95,6.5,64351,7.77,69.0
Super,938,"Comedy,Drama",After his wife falls under the influence of a ...,James Gunn,"Rainn Wilson, Ellen Page, Liv Tyler, Kevin Bacon",2010,96,6.8,64535,0.32,50.0

In [35]:
df[df['rating'] >= 8.1].head()

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Hacksaw Ridge,17,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0
Lion,19,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0
Bahubali: The Beginning,27,"Action,Adventure,Drama","In ancient India, an adventurous and daring ma...",S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty,Tamann...",2015,159,8.3,76193,6.50,NaN

In [36]:
df[(df['director'] == "Christopher Nolan")|(df['director'] == 'Nitesh Tiwari')]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
Dangal,118,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0

In [37]:
df[df['director'].isin(['Christopher Nolan', 'Nitesh Tiwari'])]

,rank,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
Title,,,,,,,,,,,
Interstellar,37,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747,187.99,74.0
The Dark Knight,55,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916,533.32,82.0
The Prestige,65,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,913152,53.08,66.0
Inception,81,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625,292.57,74.0
Dangal,118,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0